{% extends 'masterPage.html' %}
{% block content %}
<div class="col-6 card primary mx-auto p-3">
    <h3 class="text-center">
        Login
    </h3>
    <form class="form-signin" method="post">
        <label for="username">username</label>
        <input name="username" placeholder="username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="signInForm.invalid" >
            Login
        </button>
    </form>
</div>      

{% endblock %}