{% extends 'masterPage.html' %}
{% block header %}
  <div class="m-4 text-center">
    <!-- <div>Switch all product to:</div>
    <button
    class="btn btn-primary"
    >
    Not in stock
    </button>
    <button
    class="mx-2 btn btn-primary"
    >
    All in stock
    </button> -->
    <a href="{{ url_for('login')}}" title="logout">Logout</a>
  </div>
{% endblock %}
{% block content %}
  <div class="m-4">
    <table class="table">
        <thead >
          <tr class="table-primary">
            <th>ID</th>
            <th>Product</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{product['Id']}}</td>
              <td>{{product['Name']}}</td>
              <td>{{product['Status']}}</td>
              <td><a class="btn btn-outline-dark" href="{{ url_for('product',name=product['Name'])}}" title="product">Details</a></td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
  </div>
{% endblock %}